main {
  margin-top: 25px;

  .question {
    text-align: justify;
    padding: 15px 20px 5px 20px;
    font-size: 1.5rem;
  }

  .options-space {
    padding: 2rem 8rem;
    color: white;
  }

  // Media Queries
  @media screen and (max-width: 600px) {
    .options-space {
      padding: 2rem 3rem;
      text-align: justify;
      color: orange;
    }
    #tab-space {
      margin-bottom: 20px;
    }
  }

}
